<div class='sideBar floatLeft fixed'>

  <a routerLinkActive="active" [routerLink]='[{ outlets: { secondRouter: ["profile"] } }]'
    [state]="{ statutUSER:statut_user, loginUSER:login_user}">Profile</a>
  <a routerLinkActive="active" [routerLink]='[{ outlets: { secondRouter: ["listeMobilites"] } }]'
    [state]="{ statutUSER:statut_user, loginUSER:login_user}">Liste des mobilités</a>
  <a routerLinkActive="active" [routerLink]='[{ outlets: { secondRouter: ["listeCandidatures"] } }]'
    [state]="{ statutUSER:statut_user, loginUSER:login_user}">Liste des candidatures</a>

</div>