<div class='sideBar floatLeft fixed'>

  <a routerLinkActive="active" [routerLink]='[{ outlets: { secondRouter: [rendu] } }]'
    [state]="{ statutUSER:statut_user, loginUSER:login_user}">{{buttonText}}</a>
  <a routerLinkActive="active" [routerLink]='[{ outlets: { secondRouter: ["listeMobilites"] } }]'
    [state]="{ statutUSER:statut_user, loginUSER:login_user}">Liste des mobilités</a>
  <a routerLinkActive="active" [routerLink]='[{ outlets: { secondRouter: ["listeCandidatures"] } }]'
    [state]="{ statutUSER:statut_user, loginUSER:login_user}">Liste des candidatures</a>
    <button (click)="seDeconnecter()" class="btn btn-primary "> Se déconnecter </button>
</div>