<div id="listeCandidaturesInterface">
<div id="title">
    <h1>{{title}}</h1>
    <table>
        <thead>
            <tr>
                <th>Élèves</th>
                <th>Voeu 1</th>
                <th>Voeu 2</th>
                <th>Voeu 3</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidature of lesCandidatures">
                <td>{{getPrenomNom(candidature.login)}}</td>
                <td>{{candidature.voeu1}}</td>
                <td>{{candidature.voeu2}}</td>
                <td>{{candidature.voeu3}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>